
/* Класс для кнопок bootstrap*/
.btn-icon {
    padding-top: 0;
    padding-bottom: 0;
}

.btn > .icon {
    position: relative;
    left: -.75rem;
    display: inline-block;
    padding: .375rem .75rem;
    background: rgba(0, 0, 0, 0.15);
    border-radius: .25rem 0 0 .25rem;
}
/* Класс для кнопки "Наверх"*/
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/* Класс для кнопока редактирования */
.btn-edit {
    color: #FFC107;
}

