@model TypiconOnline.Web.Models.TypiconViewModels.CreateTypiconModel
@{
    ViewData["Title"] = "Создание Устава";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="index">Главная</a></li>
                <li><a asp-controller="Typicon" asp-action="index">Уставы</a></li>
                <li class="active">@ViewData["Title"]</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <form asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-8">
                <label asp-for="Name">Наименование:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label asp-for="Description">Описание</label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label asp-for="SystemName">Системное имя</label>
                <input id="systemName" asp-for="SystemName" class="form-control"/>
                <span asp-validation-for="SystemName" class="text-danger"></span>
            </div>
        </div>
        @*<div class="row">
                <div class="form-group col-sm-8">
                    <label asp-for="DefaultLanguage">Язык по умолчанию</label>
                    <input asp-for="DefaultLanguage" class="form-control" />
                    <span asp-validation-for="DefaultLanguage" class="text-danger"></span>
                </div>
            </div>*@
        <div class="row">
            <div class="form-group col-sm-8">
                <label asp-for="TemplateId">Устав:</label>
                <select class="form-control" asp-for="TemplateId" asp-items="@ViewBag.Typicons"></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group"><div class="validation" asp-validation-summary="ModelOnly"></div></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" type="submit">Создать</button>
            </div>
        </div>
    </form>

</div>

@section Scripts{

<script>
    $('#systemName').on("input", function () {
        $(this).valid();
    });
</script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
}