@model TypiconEntityEditModel
@{
    ViewData["Title"] = "Редактирование Устава";
}

<div class="container">
    @await Component.InvokeAsync("TypiconTab", new { typiconId = ViewContext.RouteData.Values["id"], tab = TypiconTab.Properties })
    <div class="row">
        <div class="col-8">
            <h2>Свойства</h2>
        </div>
    </div>
    <form class="row" asp-action="Edit" method="post">
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label asp-for="Name">Наименование:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label asp-for="Description">Описание</label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label asp-for="SystemName">Системное имя</label>
                <input asp-for="SystemName" class="form-control" readonly />
                <span asp-validation-for="SystemName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label asp-for="IsTemplate">Является ли Шаблоном</label>
                <p>
                    Если является Шаблоном то: Может быть опубликован с наличием незаполненных Переменных Устава,
                    будет использоваться только в качестве образца для создания новых Уставов, будет недоступен для просмотра расписания.
                </p>
                <input type="radio" asp-for="IsTemplate" value="true" id="IsTemplateTrue" />Шаблон<br />
                <input type="radio" asp-for="IsTemplate" value="false" id="IsTemplateFalse" />Обычный Устав<br />
                <span asp-validation-for="IsTemplate" class="text-danger"></span>
            </div>
        </div>
        @*<div class="row">
                <div class="form-group col-sm-8">
                    <label asp-for="DefaultLanguage">Язык по умолчанию</label>
                    <input asp-for="DefaultLanguage" class="form-control" />
                    <span asp-validation-for="DefaultLanguage" class="text-danger"></span>
                </div>
            </div>*@
        <div class="row">
            <div class="form-group"><div class="validation" asp-validation-summary="ModelOnly"></div></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Сохранить</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}