@model TypiconClaimModel
@{
    ViewData["Title"] = "Рассмотрение заявки на создание Устава";
}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li><a asp-controller="Home" asp-action="index">Главная</a></li>
                    <li><a asp-controller="Typicon" asp-action="index">Уставы</a></li>
                    <li class="active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
        <form asp-action="Reject" method="post">
            <div class="row">
                <div class="col-sm-8">
                    <label asp-for="Name">Наименование:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <label asp-for="Description">Описание</label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-8">
                    <label asp-for="SystemName">Системное имя</label>
                    <input asp-for="SystemName" class="form-control" readonly />
                </div>
            </div>
            @*<div class="row">
                <div class="form-group col-sm-8">
                    <label asp-for="DefaultLanguage">Язык по умолчанию</label>
                    <input asp-for="DefaultLanguage" class="form-control" readonly />
                </div>
            </div>*@
            <div class="row">
                <div class="form-group col-sm-8">
                    <label asp-for="Template">Устав:</label>
                    <input asp-for="Template" class="form-control" readonly />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-8">
                    <label asp-for="ResultMessage">Сообщение (заполняется при отклонении Заявки)</label>
                    <textarea asp-for="ResultMessage" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button asp-action="Approve" asp-route-id="@Model.Id" class="btn btn-primary" type="submit">Утвердить</button>
                    <button asp-action="Reject" asp-route-id="@Model.Id" class="btn btn-danger" type="submit">Отклонить</button>
                </div>
            </div>
        </form>
    </div>