<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />


<div class="container">
    @await Component.InvokeAsync("TypiconTab", new { typiconId = ViewContext.RouteData.Values["id"], tab = TypiconTab.Menology })
    <div class="row">
        <div class="col-12"><h1>Правила Минеи</h1></div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <a class="btn btn-primary" asp-controller="MenologyRule" asp-action="Create" asp-route-id="@ViewContext.RouteData.Values["id"]">Новое Правило Минеи</a>
        </div>
        <div class="form-group col-12">
            <div class="justify-content-center align-content-center">
                <table id="menologyGrid" class="table table-striped table-bordered" style="width:100%">
                    <thead class="text-center">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>TemplateName</th>
                            <th>IsAddition</th>
                            <th>Date</th>
                            <th>LeapDate</th>
                            <th>HasModRule</th>
                            <th>HasRule</th>
                            <th></th>
                        </tr>

                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
   



<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

<script>
    $(document).ready(function ()
    {
        $("#menologyGrid").DataTable(
            {
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/MenologyRule/LoadData/@ViewContext.RouteData.Values["id"]",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "Id", "name": "Id", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "TemplateName", "name": "TemplateName", "autoWidth": true },
                    { "data": "IsAddition", "name": "IsAddition", "autoWidth": true },
                    { "data": "Date", "name": "Date", "autoWidth": true },
                    { "data": "LeapDate", "name": "LeapDate", "autoWidth": true },
                    { "data": "HasModRuleDefinition", "name": "HasModRuleDefinition", "autoWidth": true },
                    { "data": "HasRuleDefinition", "name": "HasRuleDefinition", "autoWidth": true },
                    {
                        data: null, render: function (data, type, row)
                        {
                            var str = '<a class="btn btn-info" href="/MenologyRule/Edit/' + row.Id + '">Edit</a> ';
                            if (row.Date == "" && row.LeapDate == "") {
                                str += '<a href="#" class="btn btn-danger btn-delete">Delete</a>';
                            }
                            return str;
                        },
                        orderable: false
                    },
                ]
            }
        );
    });

    $('#menologyGrid').on('click', 'tbody tr td .btn-delete', function () {
        var table = $('#menologyGrid').DataTable();
        var row = table.row($(this).parents('tr'));
        var data = row.data();

        if (data.Date != "" || data.LeapDate != "") {
            return false;
        }

        if (confirm('Вы действительно хотите удалить Правило Минеи "' + data.Name + '"?')) {

            $.post("/MenologyRule/Delete/@ViewContext.RouteData.Values["id"]/"+ data.Id, function (result) {
                if (result) {
                    row.remove();
                }
                else {
                    alert("Что-то пошло не так.");
                }
                table.draw(false);
            });
        }
        else {
            return false;
        }
    });


</script>
}

