@model OutputWorshipEditModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Редактирование наименования богослужебного дня</h4>
    </div>
    <div class="modal-body">
        @if (Model == null)
        {
            <div class="row">
                <h4>Произошла ошибка доступа</h4>
            </div>
        }
        else
        {
    <form id="editOutputForm" asp-controller="Schedule" asp-action="EditWorship" asp-route-id="@Model.Id">
        <div class="row">
            <div class="col-sm-12"><label asp-for="Time">Время богослужения</label></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group input-group date" id="time">
                    <input type="text" class="form-control" asp-for="Time" />
                    <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><label asp-for="@Model.Name">Наименование</label></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4"><input type="checkbox" asp-for="NameStyle.IsBold" /> <b>Жирный</b></div>
                        <div class="col-sm-4"><input type="checkbox" asp-for="NameStyle.IsItalic" /> <i>Курсивом</i></div>
                        <div class="col-sm-4 red"><input type="checkbox" asp-for="NameStyle.IsRed" /> Красным</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><label asp-for="AdditionalName">Дополнительное наименование</label></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4"><input type="checkbox" asp-for="AdditionalNameStyle.IsBold" /> <b>Жирный</b></div>
                        <div class="col-sm-4"><input type="checkbox" asp-for="AdditionalNameStyle.IsItalic" /> <i>Курсивом</i></div>
                        <div class="col-sm-4 red"><input type="checkbox" asp-for="AdditionalNameStyle.IsRed" /> Красным</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <input asp-for="AdditionalName" class="form-control" />
                <span asp-validation-for="AdditionalName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><button id="editWorshipBtn" class="btn btn-primary">Сохранить</button></div>
        </div>
    </form>
        }

    </div>
</div>
