<link href="~/css/datatables.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/responsive.bootstrap.min.css" rel="stylesheet" />

<div class="container">
    @await Component.InvokeAsync("TypiconTab", new { typiconId = ViewContext.RouteData.Values["id"], tab = TypiconTab.Variables })
    <div class="row">
        <div class="col-12"><h2>Переменные</h2></div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <div class="justify-content-center align-content-center">
                <table id="varGrid" class="table table-striped table-bordered" style="width:100%" data-id="@ViewContext.RouteData.Values["id"]">
                    <thead class="text-center">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Count</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade editvar-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div id="modalWindow" class="modal-dialog modal-sm">
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <script src="~/js/typiconvariables.js"></script>
}