@model ExplicitAddRuleEditModel
@{
    ViewData["Title"] = "Создание Явного правила";
}
    <div class="container">
        @await Component.InvokeAsync("TypiconTab", new { typiconId = ViewContext.RouteData.Values["id"], tab = TypiconTab.CreateExplicit })
        <div class="row">
            <div class="col-12"><h2>Создание Явного правила</h2></div>
        </div>
        <div class="row">
            <form class="row" asp-action="Create" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <label asp-for="Date">Дата:</label>
                        <div class="input-group date" id="date">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
                        </div>
                        <input type="hidden" id="dtp_date" value="@Model.Date.ToString("yyyy-MM-dd")" name="Date" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-xs-12">
                    <label asp-for="RuleDefinition">Правило для последовательности:</label>
                    <div>
                        <textarea id="rule" class="form-control rounded-0" rows="30" asp-for="RuleDefinition"></textarea>
                        <span asp-validation-for="RuleDefinition" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group"><div class="validation" asp-validation-summary="ModelOnly"></div></div>
                <div class="col-xs-12"><button class="btn btn-primary" asp-action="Create">Создать</button></div>
            </form>
        </div>
    </div>
@section Scripts
    {
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-datepicker.min.css" />


    <script src="~/lib/codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="~/lib/codemirror/codemirror.css">
    <link rel="stylesheet" href="~/lib/codemirror/show-hint.css">
    <link rel="stylesheet" href="~/lib/codemirror/xq-light.css">
    <script src="~/lib/codemirror/xml.js"></script>
    <script src="~/lib/codemirror/show-hint.js"></script>
    <script src="~/lib/codemirror/xml-hint.js"></script>
    <script src="~/js/textarea.js"></script>

    <script src="~/lib/momentjs/moment-with-locales.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            createTextArea("rule", '@Model.RuleDefinition');

            $('#date').datetimepicker({
            locale: 'ru',
            dayViewHeaderFormat: "MMMM",
            format: "DD MMMM YYYY",
            viewMode: "days",
            maxDate: "2099-01-01",
            minDate: "2010-12-31",
            useCurrent: false
            })
            .on('dp.change', function (e) {
                if (!e.date) {
                    $('#dtp_date').attr("value", "");
                }
                else {
                    $('#dtp_date').attr("value", moment(e.date).format("YYYY-MM-DD"));
                }
            });
        });


    </script>
}