@{
    ViewData["Title"] = "Создать коды восстановления с двухфакторной аутентификацией (2FA)";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Это действие генерирует новые коды восстановления.</strong>
    </p>
    <p>
        Если Вы потеряете свое устройство и не получите коды восстановления, Вы потеряете доступ к своей учетной записи.
    </p>
    <p>
        Генерация новых кодов восстановления не меняет ключи, используемые в приложениях аутентификатора. Если Вы хотите изменить ключ,
        при использовании в приложении для проверки подлинности Вы должны <a asp-action="ResetAuthenticatorWarning">сбросить ключи проверки подлинности.</a>
    </p>
</div>

<div>
    <form asp-action="GenerateRecoveryCodes" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Создать коды восстановления</button>
    </form>
</div>
