@{
    ViewData["Title"] = "Сбросить ключ аутентификатора";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Если Вы сбросите свой ключ аутентификатора, Ваше приложение аутентификатора не будет работать, пока Вы не перенастроите его.</strong>
    </p>
    <p>
        Этот процесс отключает 2FA до тех пор, пока вы не проверите приложение аутентификатора, а также не сбросит коды восстановления 2FA.
        Если вы не завершите настройку приложения-аутентификатора, вы можете потерять доступ к своей учетной записи.
    </p>
</div>
<div>
    <form asp-action="ResetAuthenticator" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Сбросить ключ аутентификатора</button>
    </form>
</div>