
<link href="~/css/datatables.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/responsive.bootstrap.min.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Тексты минейных служб";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="index">Главная</a></li>
                <li class="active">Минея</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><h1>@ViewData["Title"]</h1></div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <a class="btn btn-primary" href="/MenologyDay/Create">Новая служба Минеи</a>
        </div>
        <div class="form-group col-12">
            <div class="justify-content-center align-content-center">
                <table id="mdGrid" class="table table-striped table-bordered" style="width:100%">
                    <thead class="text-center">
                        <tr>
                            <th>Id</th>
                            <th>Дата</th>
                            <th>Дата (вис. год)</th>
                            <th>Наименование</th>
                            <th>Краткое наим.</th>
                            <th>Праздник</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {




    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#mdGrid").DataTable(
                {
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "language": {
                        "url": "/lib/datatables/russian.json"
                    },
                    "ajax": {
                        "url": "/MenologyDay/LoadData",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columnDefs":
                        [{
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        }],
                    "columns": [
                        { "data": "Id", "name": "Id", "autoWidth": true },
                        { "data": "Date", "name": "Date", "autoWidth": true },
                        { "data": "LeapDate", "name": "LeapDate", "autoWidth": true },
                        { "data": "Name", "name": "Name", "autoWidth": true },
                        { "data": "ShortName", "name": "ShortName", "autoWidth": true },
                        { "data": "IsCelebrating", "name": "IsCelebrating", "autoWidth": true },
                        {
                            data: null, render: function (data, type, row) {
                                return '<a class="btn btn-info" href="/MenologyDay/Edit/' + row.Id + '">Редактировать</a> <a href="#" class="btn btn-danger btn-delete">Удалить</a>';
                            },
                            orderable: false
                        },
                    ]
                }
            );
        });


        $('#mdGrid').on('click', 'tbody tr td .btn-delete', function () {
            var table = $('#mdGrid').DataTable();
            var row = table.row($(this).parents('tr'));
            var data = row.data();
            if (confirm('Вы действительно хотите удалить Службу Минеи "' + data.Name + '"?')) {

                $.post("/MenologyDay/Delete/" + data.Id, function (result) {
                    if (result) {
                        row.remove();
                    }
                    else {
                        alert("Что-то пошло не так.");
                    }
                    table.draw(false);
                });
            }
            else {
                return false;
            }
        });
    </script>
}

