@model CompleteSequenceViewModel

<section>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-sm-12"><h2>Произвольная последовательность</h2></div>
            </div>
            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-2 col-md-1 control-label pull-left">Устав:</label>
                    <div class="col-xs-10 col-md-11">
                        <select class="form-control" asp-for="Id" asp-items="@ViewBag.Typicons"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 col-md-1 control-label pull-left">Дата:</label>
                    <div class="col-xs-10 col-md-11">
                        <div class="input-group date" id="date">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
                        </div>
                        <input type="hidden" id="dtp_date" value="@Model.Date.ToString("yyyy-MM-dd")" name="Date" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 col-md-1 control-label pull-left">Язык:</label>
                    <div class="col-xs-10 col-md-11">
                        <select class="form-control" asp-for="Language">
                            <option value="cs-ru">Ц-С гражданским шрифтом</option>
                            <option value="cs-cs">Ц-С</option>
                            <option value="ru-ru">Русский</option>
                            <option value="el-el">Греческий</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <textarea id="customArea" class="form-control rounded-0" rows="30" asp-for="CustomSequence"></textarea>
                    </div>
                </div>
                <div class="form-group"><div class="validation" asp-validation-summary="ModelOnly"></div></div>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-primary" asp-controller="Customsequence" asp-action="Index">Формировать</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-sm-12 col-md-6">
            @await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
            @await Html.PartialAsync("_Sequence", Model.Day)
        </div>
    </div>

</section>

@section Scripts
{

    <style>
        div.container.body-content {
            width: 100% !important;
        }
    </style>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-datepicker.min.css" />


    <script src="~/lib/codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="~/lib/codemirror/codemirror.css">
    <link rel="stylesheet" href="~/lib/codemirror/show-hint.css">
    <link rel="stylesheet" href="~/lib/codemirror/xq-light.css">
    <script src="~/lib/codemirror/xml.js"></script>
    <script src="~/lib/codemirror/show-hint.js"></script>
    <script src="~/lib/codemirror/xml-hint.js"></script>
    <script src="~/js/textarea.js"></script>

    <script src="~/lib/momentjs/moment-with-locales.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            createTextArea("customArea", '@Model.CustomSequence');

            $('#date').datetimepicker({
            locale: 'ru',
            dayViewHeaderFormat: "MMMM",
            format: "DD MMMM YYYY года",
            viewMode: "days",
            maxDate: "2099-01-01",
            minDate: "2010-12-31",
            useCurrent: false,
            defaultDate: "@Model.Date.ToString("yyyy-MM-dd")"
            })
            .on('dp.change', function (e) {
                if (!e.date) {
                    $('#dtp_date').attr("value", "");
                }
                else {
                    $('#dtp_date').attr("value", moment(e.date).format("YYYY-MM-DD"));
                }
            });
        });


    </script>
}

