@model ScheduleSettingsWeekDaysModel

    <ul class="row list-group">
        @foreach (var elem in GetDays(Model))
        {
        <li class="list-group-item">@Html.Raw(elem)</li>
        }
    </ul>

@{
    IEnumerable<string> GetDays(ScheduleSettingsWeekDaysModel model)
    {
        var arr = new List<string>();

        if (model.IsMonday)
        {
            arr.Add("Понедельник");
        }
        if (model.IsTuesday)
        {
            arr.Add("Вторник");
        }
        if (model.IsWednesday)
        {
            arr.Add("Среда");
        }
        if (model.IsThursday)
        {
            arr.Add("Четверг");
        }
        if (model.IsFriday)
        {
            arr.Add("Пятница");
        }
        if (model.IsSaturday)
        {
            arr.Add("Суббота");
        }
        if (model.IsSunday)
        {
            arr.Add("Воскресенье");
        }

        if (arr.Count == 0)
        {
            arr.Add("<i class='fas fa-times icon-btn-danger'></i> Ни один день недели не отмечен");
        }
        else if (arr.Count == 7)
        {
            arr.Clear();
            arr.Add("<i class='fas fa-check icon-btn-success'></i> Богослужения совершаются каждый день");
        }

        return arr;
    }
}
