<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TypiconOnline.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScheduleForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DBTypicon" providerName="System.Data.SqlClient" connectionString="Data Source=31.31.196.160;Initial Catalog=u0351320_DBTypicon;Integrated Security=False;User Id=u0351320_defaultuser;Password=DDOR0YUMg519DbT2ebzN;MultipleActiveResultSets=True" />
    <!--add name="DBTypicon" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBTypicon.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" /-->
    <add name="ContextDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ContextDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="TypiconOnline.WinForms.Properties.Settings.ScheduleDBConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\data\ScheduleDB.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="WordPressUsername" value="imt"/>
    <add key="WordPressPassword" value="Rm5$-r1)d"/>
    <add key="WordPressBaseUrl" value="http://www.berluki.ru/web"/>
    <add key="WordPressBlogId" value="http://www.berluki.ru"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ShortCacheDuration" value="60"/>
  </appSettings>
  <userSettings>
    <TypiconOnline.WinForms.Properties.Settings>
      <setting name="OutputDirectoryPath" serializeAs="String">
        <value>output\</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://www.berluki.ru/web</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>imt</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Rm5$-r1)d</value>
      </setting>
      <setting name="IsDocxChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTxtChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsWrodpressChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsDocxOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TemplateFilePath" serializeAs="String">
        <value>data\Template.docx</value>
      </setting>
      <setting name="PasswordToPostWordpress" serializeAs="String">
        <value>1578</value>
      </setting>
      <setting name="RulesFolder" serializeAs="String">
        <value>E:\Документы\programming\XML\</value>
      </setting>
      <setting name="BigTemplateFilePath" serializeAs="String">
        <value>data\BigTemplate.docx</value>
      </setting>
      <setting name="ScheduleFileStart" serializeAs="String">
        <value>РАСПИСАНИЕ </value>
      </setting>
      <setting name="BigScheduleFileStart" serializeAs="String">
        <value>РАСПИСАНИЕ Б </value>
      </setting>
      <setting name="IsBigDocxChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsBigDocxOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomRule" serializeAs="String">
        <value />
      </setting>
    </TypiconOnline.WinForms.Properties.Settings>
    <ScheduleForm.Properties.Settings>
      <setting name="OutputDirectoryPath" serializeAs="String">
        <value>output\</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://www.berluki.ru/web</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>imt</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Rm5$-r1)d</value>
      </setting>
      <setting name="IsDocxChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTxtChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsWrodpressChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsDocxOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TemplateFilePath" serializeAs="String">
        <value>data\Template.docx</value>
      </setting>
      <setting name="PasswordToPostWordpress" serializeAs="String">
        <value>1578</value>
      </setting>
      <setting name="RulesFolder" serializeAs="String">
        <value>E:\Документы\programming\XML\</value>
      </setting>
      <setting name="BigTemplateFilePath" serializeAs="String">
        <value>data\BigTemplate.docx</value>
      </setting>
      <setting name="ScheduleFileStart" serializeAs="String">
        <value>РАСПИСАНИЕ </value>
      </setting>
      <setting name="BigScheduleFileStart" serializeAs="String">
        <value>РАСПИСАНИЕ Б </value>
      </setting>
      <setting name="IsBigDocxChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsBigDocxOpen" serializeAs="String">
        <value>False</value>
      </setting>
    </ScheduleForm.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
