<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TypiconOnline.AppServices.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TypiconOnline.AppServices.Tests.Properties.Settings>
            <setting name="DBTypicon" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBTypicon.mdf;Integrated Security=True;Connect Timeout=30</value>
            </setting>
        </TypiconOnline.AppServices.Tests.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <add name="DBTypicon" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBTypicon.mdf;Integrated Security=True;Connect Timeout=30"
 providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>